{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="clearfix">
        <div class="float-start">
            <h3 class="mb-4">{{ title }}</h3>
        </div>
        <div class="float-end">
            <a href="/lobby/create" class="btn btn-sm btn-primary">Создать</a>
        </div>
    </div>

    {% for lobby in lobbies %}
        <div class="card my-1">
            <div class="card-body">
                <div class="clearfix">
                    <div class="float-start">{{ lobby.game.name }} (#{{ lobby.id }})</div>
                    <div class="float-end">
                        <a href="/lobby/{{ lobby.id }}" class="btn btn-sm btn-success me-1">Присоединиться</a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}