DB_LOGIN = "postgres"
DB_PASSWORD = "postgres"
DB_HOST = "172.28.1.5"
DB_PORT = 5432
DB_DATABASE = "game-engine"

REDIS_HOST = "172.28.1.4"
REDIS_PORT = 6379

HOST = "0.0.0.0"
PORT = 4000

DEBUG = False

SECRET_KEY = "secret!"
