Flask~=3.1.0
Flask-SQLAlchemy
psycopg2-binary
flask_migrate
pytest
dnspython
flask_socketio
gevent-websocket
eventlet
gunicorn
redis~=5.2.1
flask-cors~=5.0.0
build
./ge_sdk/
python-dotenv~=1.0.1
SQLAlchemy~=2.0.38
Flask-Migrate~=4.1.0
alembic~=1.14.1
Flask-SocketIO~=5.5.1