aiohappyeyeballs==2.4.6
aiohttp==3.11.12
aiopyston==1.2.1
aiosignal==1.3.2
alembic==1.14.1
attrs==25.1.0
bidict==0.23.1
blinker==1.9.0
build==1.2.2.post1
click==8.1.8
dnspython==2.7.0
eventlet==0.39.0
Flask==3.1.0
Flask-Cors==5.0.0
Flask-Migrate==4.1.0
Flask-SocketIO==5.5.1
Flask-SQLAlchemy==3.1.1
frozenlist==1.5.0
ge_sdk @ git+https://github.com/roctbb/ai-game-engine@f3e44e83f3db213b6fec9c1620c07ba81645dd1c#subdirectory=ge_sdk
gevent==24.11.1
gevent-websocket==0.10.1
greenlet==3.1.1
gunicorn==23.0.0
h11==0.14.0
idna==3.10
iniconfig==2.0.0
itsdangerous==2.2.0
Jinja2==3.1.5
Mako==1.3.9
MarkupSafe==3.0.2
multidict==6.1.0
packaging==24.2
pika==1.3.2
pluggy==1.5.0
propcache==0.2.1
psycopg2-binary==2.9.10
pyproject_hooks==1.2.0
pytest==8.3.4
python-dotenv==1.0.1
python-engineio==4.11.2
python-socketio==5.12.1
redis==5.2.1
setuptools==75.8.0
simple-websocket==1.1.0
SQLAlchemy==2.0.38
typing_extensions==4.12.2
Werkzeug==3.1.3
wsproto==1.2.0
yarl==1.18.3
zope.event==5.0
zope.interface==7.2
