Flask
Flask-SQLAlchemy
psycopg2-binary
flask_migrate
pytest
dnspython
flask_socketio
gevent-websocket
eventlet
gunicorn
redis
flask-cors
build
git+https://github.com/roctbb/ai-game-engine#subdirectory=ge_sdk
python-dotenv
aiopyston