{% extends 'base.html' %}
{% block title %}Мои команды{% endblock %}

{% block content %}
    <div class="clearfix">
        <div class="float-start">
            <h3 class="mb-4">Игры</h3>
        </div>
    </div>

    <div class="row">
        {% for game in games %}
        <div class="col-sm-3">
            <div class="card" style="width: 18rem;">
                <h5 class="card-header">{{ game.name }}</h5>
                
                <div class="card-body">
                    <p class="card-text">
                        Описание: (Пусто)<br/>
                        Размер команды: {{ game.team_size}}<br/>
                        Кол-во команд: {{ game.team_number }}
                    </p>
                    <a href="/docs/{{ game.code }}" class="btn btn-primary">Документация</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}