{% extends 'base.html' %}
{% block title %}Вход{% endblock %}

{% block content %}
    <div class="row">
        <div class="col col-md-6 col-lg-4">
            <form method="post">
                <div class="mb-3">
                    <label class="form-label">Логин</label>
                    <input name="login" type="text" class="form-control" value="{{ login }}">
                </div>
                <div class="mb-3">
                    <label class="form-label">Пароль</label>
                    <input name="password" type="password" class="form-control">
                </div>

                <button type="submit" class="btn btn-primary">Регистрация</button>
            </form>
        </div>
    </div>

{% endblock %}